div.wrapper {
	width: 75%;
	min-width: 400px;
	--border: 2px solid black;
	--outline: #4CAF50 solid 10px;
	margin-left: 290px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(248, 248, 248, 0.95);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
body {
	background-color: rgb(243, 243, 243);
  	font-family: Garamond, Perpetua, Copperplate, "Lucida Bright", Verdana, Robot, Arial, "Times New Roman";
	background-image: url("bakgrunn.jpg");
	--filter: blur(8px);
	height:140%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
	background-color: rgba(248, 248, 248, 0.9);
	
}
.bg-image {
	background-image: url("bakgrunn.jpg");
	filter: blur(8px);
	--height:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
	background-color: rgba(248, 248, 248, 0.9);
}
div.innlegg {
	
	background-color: white;
	margin-top: 30px;
	padding: 10px;
}

/* The sidebar menu */
.sidenav {
  text-decoration: none;
  text-align: left;
  --height: 100%; /* Full-height: remove this if you want "auto" height */
  --width: 10%; /* 160px Set the width of the sidebar */
  min-width: 130px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  --z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 10px;
  --background-color: rgba(196, 0, 0, 0.8); /* Black */
  background-color: none
  overflow-x: hidden; /* Disable horizontal scroll */
  --padding: 50px;
  --border: solid black 1px;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  text-shadow: 0 0 3px #000000;
}

/* The navigation menu links */
.sidenav a {
  --padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  -text-shadow: 0 0 3px #000000;
  display: block;
}
.sidenav h3 {
	padding-left: 16px;
	--color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: Maroon;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
