div.wrapper {
	--display: block;
	width: 70%;
	min-width: 400px;
	--border: 2px solid black;
	--outline: #4CAF50 solid 10px;
	margin-left: 230px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(248, 248, 248);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
body {
  background-color: rgb(243, 243, 243);
}
div.innlegg {
	
	background-color: white;
	margin-top: 30px;
	padding: 10px;
}

/* The sidebar menu */
.sidenav {
  text-align: right;
  --height: 100%; /* Full-height: remove this if you want "auto" height */
  --width: 10%; /* 160px Set the width of the sidebar */
  min-width: 130px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  --z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 10px;
  --background-color: rgba(196, 0, 0, 0.8); /* Black */
  background-color: none
  overflow-x: hidden; /* Disable horizontal scroll */
  --padding: 50px;
  --border: solid black 1px;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  text-decoration: underline;
}
.sidenav h2 {
	padding: 6px 8px 6px 16px;
	color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: Maroon;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
